In [2]:
import pandas as pd

```bash
pip install sqlalchemy psycopg2-binary 
```

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
engine.connect()

In [11]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')
df_zones.to_sql(name='taxi_zones', con=engine, index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'taxi+_zone_lookup.csv'

In [12]:
q3 = """
SELECT count(*) FROM green_taxi_trips WHERE date(lpep_pickup_datetime) = '2019-01-15' and date(lpep_dropoff_datetime) = '2019-01-15'
"""

pd.read_sql(q3, con=engine)

   count
0  20530

In [13]:
q4 = """
SELECT lpep_pickup_datetime FROM green_taxi_trips WHERE trip_distance = (SELECT max(trip_distance) FROM green_taxi_trips)
"""

pd.read_sql(q4, con=engine)

  lpep_pickup_datetime
0  2019-01-15 19:27:58

In [14]:
q5 = """
SELECT passenger_count, count(*) 
FROM green_taxi_trips WHERE lpep_pickup_datetime::date = '2019-01-01' 
group by passenger_count
"""

pd.read_sql(q5, con=engine)

   passenger_count  count
0                0     21
1                1  12415
2                2   1282
3                3    254
4                4    129
5                5    616
6                6    273

In [30]:
q6 = """
SELECT dz."Zone", max(d.tip_amount) AS total_tip_amount
FROM green_taxi_trips d
JOIN taxi_zones pz ON d."PULocationID" = pz."LocationID"
join taxi_zones dz ON d."DOLocationID" = dz."LocationID"
WHERE pz."Zone" = 'Astoria'
GROUP BY 1
ORDER BY max(d.tip_amount) DESC;
"""

pd.read_sql(q6, con=engine)

                              Zone  total_tip_amount
0    Long Island City/Queens Plaza             88.00
1                     Central Park             30.00
2                          Jamaica             25.00
3                             None             25.00
4                          Astoria             18.16
..                             ...               ...
215                      Bellerose              0.00
216                     Bath Beach              0.00
217       Williamsbridge/Olinville              0.00
218             Woodlawn/Wakefield              0.00
219                Hammels/Arverne              0.00

[220 rows x 2 columns]